
{% extends "basic.html" %}

{%block content %}
   <div class="content">
        <h2>Kompaniya haqida</h2>
        <p>
            Bizning kompaniya 20 yildan beri yuqori sifatli xizmatlarni taqdim etib kelmoqda. 
            Biz mijozlarimizga eng yaxshi xizmatni taqdim etish uchun barcha imkoniyatlardan foydalanamiz.
        </p>
        <h2>Jamoamiz</h2>
        <p>
            Bizning jamoamiz o'z sohasi bo'yicha yuqori malakali mutaxassislardan iborat. 
            Har bir xodimimiz o'z ishini mukammal bajarishga intiladi va mijozlarimizni qoniqtirish uchun astoydil mehnat qiladi.
        </p>
        <h2>Missiyamiz</h2>
        <p>
            Bizning missiyamiz - mijozlarimizga yuqori sifatli xizmat ko'rsatish va ularning ishonchini qozonish. 
            Biz har doim yangiliklarga intilamiz va xizmatlarimizni takomillashtirib boramiz.
        </p>
    </div>

{%endblock%}