{%extends "basic.html"%}

{%block content%}
<section id="home">
        <h2>Bosh sahifa</h2>
        <p>Bu yerda bosh sahifa haqida ma'lumot bo'ladi.</p>
    </section>
    <section id="about">
        <h2>Biz haqimizda</h2>
        <p>Bu yerda biz haqimizda qisqacha ma'lumot bo'ladi.</p>
    </section>
    <section id="services">
        <h2>Xizmatlar</h2>
        <p>Bu yerda xizmatlarimiz haqida ma'lumot beriladi.</p>
    </section>
    <section id="contact">
        <h2>Aloqa</h2>
        <p>Bu yerda aloqa ma'lumotlari ko'rsatiladi.</p>
    </section>

{%endblock%}